html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.header {
    top: 10px;
    color: #7c05f2;
}

canvas {
    display: block;
}
